[defaults]
inventory = ./inventory/hosts
remote_user = ec2-user
private_key_file = ~/.ssh/sockshop-key.pem
host_key_checking = False
retry_files_enabled = False
roles_path = ./roles
timeout = 30
forks = 10
log_path = ./ansible.log

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True
