version: '3'
services:
  front-end:
    image: weaveworksdemos/front-end:{{ sockshop_frontend_version }}
    ports:
      - "{{ sockshop_port }}:8079"
    environment:
      - SESSION_REDIS=true
    restart: always

  catalogue:
    image: weaveworksdemos/catalogue:0.3.5
    restart: always

  catalogue-db:
    image: weaveworksdemos/catalogue-db:0.3.0
    environment:
      - MYSQL_ROOT_PASSWORD={{ catalogue_db_password }}
      - MYSQL_DATABASE=socksdb
    restart: always

  carts:
    image: weaveworksdemos/carts:0.4.8
    environment:
      - JAVA_OPTS=-Xms64m -Xmx128m -XX:+UseG1GC
    restart: always

  carts-db:
    image: mongo:4.4
    restart: always

  orders:
    image: weaveworksdemos/orders:0.4.7
    environment:
      - JAVA_OPTS=-Xms64m -Xmx128m -XX:+UseG1GC
    restart: always

  orders-db:
    image: mongo:4.4
    restart: always

  shipping:
    image: weaveworksdemos/shipping:0.4.8
    environment:
      - JAVA_OPTS=-Xms64m -Xmx128m -XX:+UseG1GC
    restart: always

  queue-master:
    image: weaveworksdemos/queue-master:0.3.1
    restart: always

  rabbitmq:
    image: rabbitmq:3.8-management
    restart: always

  payment:
    image: weaveworksdemos/payment:0.4.3
    restart: always

  user:
    image: weaveworksdemos/user:0.4.7
    restart: always

  user-db:
    image: weaveworksdemos/user-db:0.3.0
    restart: always
